<footer id="footer">
    {{ if .Site.Social }}
        {{ partial "social.html" . }}
    {{ end }}

    <div class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       © Copyright 
       {{ now.Format "2006"}} 
       <span class="split">
        {{ partial "svgs/heart.svg" (dict "fill" "#bbbbbb" "width" 15 "height" 15 ) }}
         </span>
       &nbsp;{{ .Site.Params.Author }}
    {{ end }}
    </div>
    <div class="copyright">
        <a href="https://xn--sr8hvo.ws/previous">←</a>
        An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
        <a href="https://xn--sr8hvo.ws/next">→</a>
    </div>
    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
      <div class="powerby">
        <img src="/images/Written-By-Human.png" alt="writte by human" height="42">
      </div>
    {{ end }}

    <section class="h-card" style="display: none;">
        <!-- Name -->
        <span class="p-name">Matt Reider</span>
        
        <!-- Profile Picture -->
        <img class="u-photo" src="/images/me.jpg" alt="Matt Reider">
        
        <!-- Bio or Description -->
        <span class="p-note">American expat in Vienna working on k8s, oTel, and open observability.</span>
        
        <!-- URL -->
        <a class="u-url" href="https://mrgrumpypants.live">https://mrgrumpypants.live</a>
        
        <!-- Email (Optional) -->
        <a class="u-email" href="mailto:mreider@gmail.com">mreider@gmail.com</a>
        
        <!-- Social Links (Optional, add more as needed) -->
        <a class="u-url" rel="me" href="https://fosstodon.org/@mdr">Mastodon</a>
        <a class="u-url" rel="me" href="https://bsky.app/profile/mreider.com">BlueSky</a>
        <a class="u-url" rel="me" href="https://github.com/mreider">GitHub</a>
        <a class="u-url" rel="me" href="https://www.linkedin.com/in/mreider">LinkedIn</a>
        
        <!-- Location (Optional) -->
        <span class="p-locality">Vienn, Austria</span>
    </section>
</footer>

{{ range .Site.Params.customJS }}
    {{ if ( or ( hasPrefix . "http://" ) ( hasPrefix . "https://" ) ) }}
        <!-- remote js -->
        <script src="{{ . }}"></script>
    {{ else }}
        <!-- local js -->
        <script src="{{ $.Site.BaseURL }}{{ . }}"></script>
    {{ end }}
{{ end }}
