<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
  <head>
    <title>{{ block "title" . }}{{ with .Params.Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{ end }}</title>

    {{ partial "head.html" . }}

    <form
  action="https://buttondown.email/api/emails/embed-subscribe/mreider"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/mreider', 'popupwindow')"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" />
  
  <input type="submit" value="Subscribe" />
  <p>
    <a href="https://buttondown.email/refer/mreider" target="_blank">Powered by Buttondown.</a>
  </p>
</form>

  </head>

  <body>
    {{ partial "navigation.html" . }}

    <main class="main">
      {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
  </body>
</html>
