{% extends "base.html" %}
{% block title %}{{ site.title }}{% endblock %}
{% block content %}
<header>
   <img src="/images/picard.png" alt="All of us in Paris" style="width:50%;height: auto;">
   </header>
<section>
   {% for entry in archive %}
   <article><aside>
    <a href="../{{ entry.dst }}">{{ entry.title }}</a> <br/> <em><time datetime="{{ entry.date }}">{{ entry.date.date() }}</time></em>
       {% if entry.description %}
    {{ entry.description }}
       {% endif %}
   </aside>
   </article>
   {% endfor %}
   </section>
{% endblock %}
